<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- logon filter -->
	<filter>
		<filter-name>LogonFilter</filter-name>
		<filter-class>cn.voicet.filter.LogonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogonFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LogonFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- 使用Struts2整合Spring, web服务器启动时, 需要加载beans.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置struts2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- vercode -->
	<servlet>
		<servlet-name>VerCode</servlet-name>
		<servlet-class>cn.voicet.servlet.VerCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerCode</servlet-name>
		<url-pattern>/verCode</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HuiFang</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.HuiFang</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiFang</servlet-name>
		<url-pattern>/huiFang</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HuiFangOne</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.HuiFangOne</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiFangOne</servlet-name>
		<url-pattern>/huiFangOne</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HuiFangTwo</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.HuiFangTwo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiFangTwo</servlet-name>
		<url-pattern>/huiFangTwo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HuiFangThree</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.HuiFangThree</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HuiFangThree</servlet-name>
		<url-pattern>/huiFangThree</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.action</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
