@charset "utf-8";
/* CSS Document */

/* 格式化样式 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td {margin:0;padding:0;} 
/* 全局控制 */
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif; background-color:#fff; line-height:22px;}

h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
fieldset,img {border:0}
div,span,input,label{vertical-align:middle;}
input,img{vertical-align:middle;}
a{text-decoration:none;}
ol,ul,li{list-style:none}
table {border-collapse:collapse;border-spacing:0; width:100%; line-height:20px;} 

/* 所有表单定义默认 */
.inputDefault{border:1px solid #B8B8B8;}
 
/* 利用鼠标事件 :hover 来定义当鼠标经过时样式 */
.inputDefault:hover{
 	border: 1px solid #1D95C7;
}

.left{float:left;}
.right{float:right;}
.cursor_p{cursor:pointer;}

.clear{clear:both;}

/* height */
.h132{height:132px;}

.tal{text-align:left;}
.tar{text-align:right;}
.tac{text-align:center;}

/* 超链接(定义了"链接、已访问过的链接、鼠标停在上方时、点下鼠标时"的样式,注意，必须按以上顺序写，否则显示可能和你预想的不一样。记住它们的顺序是'LVHA') */
a:link, a:visited{text-decoration: none;color: #1F376D;}
a:hover, a:active{text-decoration: underline;color: #BD0A01;border: none;}


/* h */
.h3_title{width:100%; height:26px; line-height:26px; text-align:center; color:#8F2629; font-size:14px; font-weight:bold;}

/* input */
.ipt20{width:20px;height:12px; padding:2px 5px; border:1px solid #CCC; color:#000;}
.ipt70{width:70px;height:16px; padding:2px 5px; border:1px solid #CCC; color:#000;}
.ipt90{width:70px;height:16px; padding:2px 5px; border:1px solid #CCC; color:#000;}
.ipt100{width:100px;height:16px; padding:2px 5px; border:1px solid #CCC; color:#000;}
.ipt155{width:155px;height:16px; padding:2px 5px; border:1px solid #CCC; color:#000;}


/* button */
.btn4{width:65px; height:22px; color:#FFF; background:url(../images/bt4.png) no-repeat; border:none; cursor:pointer;}

/* table_head */
.tab_head{background: url('../images/tab-head.jpg') repeat-x scroll 0% 0% transparent; color:#2284E1;}









/*CSS Hack*/
.class {
	background-color:#FFFF00;/*所有浏览器*/
	*background-color:#00FF00;/*IE*/
	_background-color:#00FFFF;/*IE6*/
}

/* ========== 万能Float闭合1 ========== */
.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clear{display:inline-block;} /* for IE/Mac */
/*<!-- main stylesheet ends, CC with new stylesheet below... -->*/
.clear{
	zoom: 1;     /* triggers hasLayout */
	display: block;     /* resets display for IE/Win */
} /* Only IE can see inside the conditional comment and read this CSS rule. Don't ever use a normal HTML comment inside the CC or it will close prematurely. */

/* ========== 万能Float闭合2 ========== */
.overflow-hidden{overflow:hidden;}		/*控制背景溢出*/
.equal-height{margin-bottom:-32800px;padding-bottom:32800px;}		/*控制高度足够小*/

/* ========== 万能Float闭合3 ========== */
.clear{height:0px; clear:both; font-size:0px; line-height:0px; zoom:1;}



