<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-2.5.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- 1.配置注解的自动扫描范围 -->
	<context:component-scan base-package="cn.voicet.gc"></context:component-scan>
	<!-- 读取数据库配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:jdbc_sqlserver.properties</value>
			</list>
		</property>
	</bean>
	<!-- 配置数据源相同的内容 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${driver}" />
		<property name="jdbcUrl" value="${url}" />
		<!--  
		<property name="user" value="govadmin" />
		<property name="password" value="begin110" />
		-->
		<property name="properties" ref="dataSourceProperties"/>

		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="30" />
		<property name="initialPoolSize" value="10" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireIncrement" value="5" />
		<property name="maxStatements" value="0" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="acquireRetryAttempts" value="30" />
		<property name="breakAfterAcquireFailure" value="true" />
	</bean>
	
	<bean id="dataSourceProperties" class="cn.voicet.util.PropertiesEncryptFactoryBean">
        <property name="properties">
            <props>
                <prop key="user">g5B14wNMM167G8kPCis0PA==</prop>
                <prop key="password">xRfaaCXNT0y7G8kPCis0PA==</prop>
            </props>
        </property>
    </bean>
	
	<!-- 配置jdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="huiFangDao" class="cn.voicet.gc.dao.impl.HuiFangDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="sysParamDao" class="cn.voicet.gc.dao.impl.SysParamDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- jdbc事务管理器 -->  
  	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
    	<property name="dataSource" ref ="dataSource"/>  
  	</bean>  
  	
  	<!-- 使用注解的形式管理事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
